/* Style pour le header */
header {
    background-color: #f8f9fa;
    padding: 10px 0; /* Espace autour du contenu */
    position: fixed; /* Fixe le header en haut de la page */
    width: 100%; /* Largeur pleine de l'écran */
    top: 0; /* Place le header au-dessus de la page */
    z-index: 1; /* Assure que le header est au-dessus de tout le contenu */
  }
  
  /* Ajoute une marge supérieure équivalente à la hauteur du header */
  body {
    padding-top: 70px; /* Ajuste cette valeur selon la hauteur de ton header */
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  /* Style pour chaque section de contenu */
  section {
    margin-top: 70px; /* Ajoute un décalage équivalent à la hauteur du header */
  }

  footer {
    background-color: #f8f9fa;
    padding: 10px 0; /* Espace autour du contenu */
    position: bottom; /* Fixe le header en bas de la page */
    width: 100%; /* Largeur pleine de l'écran */
  }

  h1, h2, h3, h4, h5, h6 {
    color: #333;
  }

  .card {
    border: 1px solid #ddd;
    border-radius: 10px;
  }

  .card-title {
    color: #007bff;
    font-weight: bold;
  }

  .card-text {
    color: #666;
  }
  